<!-- Manually created this file -->

<div class="row">
  <div class="headline">{{story.headline}}</div>
  <img class="detail" src={{story.image}} alt={{story.headline}}>
</div>

<div class="row content">
  <p>{{story.text}}</p>
</div>
